# folders
bin/
obj/
mod/
build/*.smod
build/*.mod
.input/
.obsolete/
.tmp/
.history/
test_*/
*.dat
*.log
*.png
*.o
*.mod
*.a
lib/.DS_Store
prepost/*.ini
/lib/2decomp-fft/build/*
!/lib/2decomp-fft/build/build_cmake.sh
lib/2decomp-fft/build/CMakeCache.txt
*.code-workspace
.vscode/
.*
.DS_Store
